<!DOCTYPE html>
<html>
<head>
  <title>Entities</title>
</head>
<body>
  <h1>Lista de Entidades</h1>
  <ul>
    <% entities.forEach(e => { %>
      <li><%= e.nombre %></li>
    <% }) %>
  </ul>
</body>
</html>
